Package: com.ssiswent.wcliquidglass
Name: WCLiquidGlass
Version: 1.6.56
Architecture: iphoneos-arm64
Description: Standalone Liquid Glass menu for WeChat.
Maintainer: ssiswent
Author: ssiswent
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 16.0)
